# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [29]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [30]:
# need to first convert item price to float
convert_price_numeric = lambda p : pd.to_numeric(p.strip()[1:])
chipo['item_price'] = chipo['item_price'].map(convert_price_numeric)

In [31]:
chipo_filtered = chipo.drop_duplicates(subset=["item_name", "quantity", "choice_description"])

products_cost_gt10 = chipo_filtered[ (chipo_filtered['quantity'] == 1) & (chipo_filtered['item_price'] > 10) ]
print(f'Products that cost more than 10: {products_cost_gt10.shape[0]}')

Products that cost more than 10: 685

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [23]:
# first drop duplicates
chipo_filtered = chipo.drop_duplicates(subset=["item_name", "quantity"])

# then select only those with quantity 1 otherwise item price doesn't matter
chipo_filtered = chipo_filtered[chipo_filtered['quantity'] == 1]

chipo_filtered = chipo_filtered[["item_name", "item_price"]]
chipo_filtered.head()

                               item_name  item_price
0           Chips and Fresh Tomato Salsa        2.39
1                                   Izze        3.39
2                       Nantucket Nectar        3.39
3  Chips and Tomatillo-Green Chili Salsa        2.39
5                           Chicken Bowl       10.98

### Step 6. Sort by the name of the item

In [24]:
sorted_chipo_filtered = chipo_filtered.sort_values("item_name")
sorted_chipo_filtered.head()

                  item_name  item_price
298       6 Pack Soft Drink        6.49
39            Barbacoa Bowl       11.75
21         Barbacoa Burrito        8.99
168   Barbacoa Crispy Tacos       11.75
1229    Barbacoa Salad Bowl       11.89

### Step 7. What was the quantity of the most expensive item ordered?

In [32]:
chipo.sort_values(by='item_price', ascending=False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [33]:
print(chipo[chipo['item_name'] == 'Veggie Salad Bowl'].shape[0])

18

### Step 9. How many times did someone order more than one Canned Soda?

In [35]:
print(chipo[ (chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1) ].shape[0])

20